@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: "Garet-Book";
    src: url(../fonts/garet/Garet-Book.ttf);
}

@font-face {
    font-family: "Garet-Heavy";
    src: url(../fonts/garet/Garet-Heavy.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Garet-Book", sans-serif;
}

/* Quitar el subrayado automático (efecto por default) de los enlaces */
a {
    text-decoration: none;
    color: white;
}

/* El header es el 100%, de esta forma se irá ajustando a los diversos tamaños de pantalla */
.header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: white;
    position: absolute;
    border-bottom: 2px solid #DADCE5;
}

/* Tamaño del brand-image  */
.logo img {
    width: auto;
    height: 48px;
}

/* Se coloca el flex para que luego los coloque en fila. El width es el 20% del header*/
.logo {
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/* El menu nav es el 100% de acuerdo al container nav */
.menu-nav {
    width: 100%;
    display: flex;
    justify-content: right;
    margin-right: 0;
}

/* Para que los items se coloquen en fila */
.menu {
    list-style: none;
    display: flex;
    align-items: center;
}

/* Es el 70% del header */
.container-nav {
    width: 70%;
    display: flex;
}

/* El padding de los items y el tamaño */
.menu a {
    padding: 0px 25px 0px 25px;
    font-size: 18px;
    color: #455000;
}

/*  */
.menu li a:hover {
    color: #CFDB6C;
}

.menu-user ul {
    list-style: none;
    display: flex;
}

/* Es el 20% del header */
.container-user {
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: center;
}

/* Color y tamaño de los iconos */
.container-user i {
    padding: 10px;
    font-size: 20px;
    color: #455000;
}

/*  */
.container-user i:hover {
    color: #CFDB6C;
}

/* Bajarle el brillo a la imagen de fondo, que ocupe todo el width y que se puedan ubicar los elementos en flex para ser responsive. Colocar al lado superior del hero y centrado*/
.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/background-section-2.jpeg");
    width: 100%;
    height: 608px;
    background-repeat: no-repeat;
    flex-direction: column;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-top: 8%;
}


/* Cambiarle la fuente de letra y alinear el texto de manera que quede alineado al centro */
.hero h1 {
    text-align: center;
    color: white;
    padding: 12px;
    font-size: 55px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    margin-top: 3%;
}

/* Cambiarle el color al slogan */
.hero h2 {
    text-align: center;
    color: #343C00;
    font-family: "Garet-Book", sans-serif;
    font-weight: 300;
    font-size: 32px;
}

.buynow-button a, .locations-button a{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.hero-buttons button {
    border-radius: 60px;
    padding: 10px 20px;
    font-size: 16px;
    width: 160px;
    height: 56px;
    margin: 5px;
    margin-top: 20px;
    border: none solid;
}

.hero-buttons button:hover {
    background-color: #343C00;
    border: 2px solid #343C00;
}

.buynow-button {
    border: 2px solid #566400;
    background-color: #566400;
    color: white;

}

.locations-button {
    background-color: transparent;
    border: 2px solid white;
    color: white;

}

/* SECCIÓN 1: Categorias principales */

/* Hacer que la sección tome el 100% */
.home-section-1 {
    width: 100%;
    margin: 32px 0px 48px 0px;
}

/* Darle formato al h1: título principal de la sección */
.home-section-1 h1 {
    font-family: "Montserrat", sans-serif;
    margin: 28px;
    font-size: 36px;
    font-weight: 600;
    padding: 2%;
    color: #3F3310;
}

/* Hacer que las cards se puedan ajustar a la pantalla*/
.home-cards-section-1 {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

/* Darle formato a la card */
.container-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 482px;
    width: 22%;
    margin: auto;
    text-align: center;
    border: 1px solid #F0F3FC;
 
}

/*Darle formato a la imagen de la card  */
.container-card img {
    width: 90%;
    margin: 5%;
}


/* Separar el contenido de la card del borde del contenedor */
.content-card {
    padding: 0 8px 6px 8px;
    margin: 0 8px 6px 8px;
}

/* Darle formato al contenido principal de la card */
.content-card h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 12px;

}

/* Darle formato al contenido descriptivo de la card */
.content-card p {
    font-family: "Garet-Book", sans-serif;
    font-size: 14px;
    color: #2B2C33;

}

/* SECCIÓN 2: Comprar planta para alguien más */

.home-section-2 {
    width: 100%;
    margin: 32px 0px 0px 0px;
    background-color: #DDE0CC;
}

.home-section-2 h1 {
    font-family: "Montserrat", sans-serif;
    margin: 28px;
    font-size: 36px;
    font-weight: 600;
    padding: 2%;
    text-align: left;
    color: #3F3310;
}

.container-gift {
    display: flex;
    padding: 5%
}

.container-gift img {
    width: 30%;
    padding: 2%;
}

.container-gift p {
    font-size: 20px;
    text-align: left;
    padding: 0% 5% 5% 5%;
}

.container-gift ul {
    font-size: 16px;
    text-align: left;
    margin-left: 2%;
    padding: 0% 5% 5% 5%;
}

.quiz-gift-button {
    border-radius: 60px;
    padding: 10px 20px;
    font-size: 16px;
    width: 204px;
    height: 56px;
    margin-left: 5%;
    border: 2px solid #566400;
    background-color: #566400;
    color: white;
}

.quiz-gift-button:hover {
    background-color: #343C00;
    border: 2px solid #343C00;
}

/* FOOTER */

.footer {
    width: 100%;
    height: 100px;
    display: flex;
    background-color: white;
    align-items: center;
    padding: 1% 0% 1% 0%;
}

footer .logo {
    width: 25%;
    display: flex;
    align-items: center;
}


footer .info {
    width: 55%;
    margin: 1% 0% 1% 0%;
    display: flex;
    flex-wrap: wrap;
    text-align: right;
    color: #455000;
    align-items: center;
}

.info h4 {
    width: 100%;
}

.social-media {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-social ul {
    width: 100%;
    list-style: none;
    display: flex;
}

.social-media i {
    margin: 0% 1% 0% 0%;
    padding: 25px;
    font-size: 25px;
    color: #455000;
}

.social-media i:hover {
    color: #CFDB6C;
}

.menu-icon {
    display: none;
}

/* MEDIA QUIERIES */

@media only screen and (min-width: 1500px) and (max-width: 3000px) {

    * {
        margin: 0;
        padding: 0;
    }

    .header {
        padding: 1% 0% 1% 0%;
    }

    .logo img {
        height: 60px;
    }
    
    .menu-nav a, .menu-user i {
        font-size: 36px;
    }

    .hero {
        width: 100%;
        height: 800px;
    }

    .hero h1{
        font-size: 104px;
    }
    
    .hero h2 {
        font-size: 48px;
    }

    .hero-buttons button {
        width: 300px;
        height: auto;
        padding: 3% 0% 3% 0%;
        font-size: 28px;
    }

    .home-section-1 h1, .home-section-2 h1 {
        font-size: 68px;
    }

    .container-card {
        height: auto;
    }

    .content-card h3 {
        font-size: 44px;
    }

    .content-card p {
        font-size: 28px;
        padding-bottom: 3%;
    }

    .container-gift img {
        width: 30%;
        height: 100%;
    }

    .container-gift .container-content-gift {
        width: 70%;
    }

    .container-content-gift p, .container-content-gift li {
        font-size: 40px;
    }

    .quiz-gift-button {
        width: 500px;
        height: auto;
        padding: 2% 0% 2% 0%;
        font-size: 32px;
    }

    .footer {
        padding: 2% 0% 2% 0%;
    }

    .logo img {
        width: 50%;
        height: auto;
    }

    .info h4 {
        font-size: 36px;
    }

    .social-media i {
        font-size: 48px;
    }



}


@media only screen and  (min-width: 700px) and (max-width: 1000px) {

    * {
        margin: 0;
        padding: 0;
    }
    
    .header {
        width: 100%;
        
    } 

    /* Toma el 20% del header */
    .header .logo {
        width: 20%;
    }

    /* Toma el 80% del header */
    .container-nav {
        width: 80%;
    }

    /* El tama;o de la imagen */
    header .logo img {
        width: 70%;
        height: auto;
    }

    /* El 70% del container-nav */
    .menu-nav {
        width:70%;
        
    }

    /* El 30% del container-nav */
    .container-user {
        width: 30%;
    }

    /* Toma el 100% del container-user */
    .menu-user-icon{
        width: 100%;
    }

    /* Menu a son los items del menu principal, se les da un tama;o*/
    .menu a{
        font-size: 14px;
        padding: 10px;
        text-align: center;
    }

    /*  */
    .menu-user i {
        font-size: 16px;
    }

    .hero, .home-section-1, .home-section-2, .footer {
        width: 100%;
    }

    .hero h1 {
        padding-top: 12%;
        font-size: 44px;
    }

    .hero h2 {
        font-size: 24px;
    }

    .hero-buttons button {
        font-size: 14px;

    }

    .container-card {
        width: 45%;
        height: auto;
        margin: 0% 0% 5% 0%;
    }

    .home-cards-section-1 {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .container-gift {
        display: block;
    }

    .container-gift img {
        width: 100%;
    }

    .footer {
        width: 100%;
    }

    .footer .logo {
        width: 20%;
    }

    .footer .info {
        width: 50%;
    }

    .footer .social-media {
        width: 30%;
    }

    .logo img{
        width: 70%;
        height: auto;
    }

    .info h4{
        font-size: 14px;
    }
    .menu-social i{
        font-size: 20px;
    }


}

@media only screen and (min-width: 320px) and (max-width: 699px) {

    * {
        margin: 0;
        padding: 0;
    }

    .container-nav {
        width: 100%;
        display: block;
        position: absolute;
        top: -250px;
        background-color: white;
        transition: 1s ease top;
    }

    .container-nav-2 {
        top: 70px;
        justify-content: center;
        text-align: center;
    }

    header .logo {
        width: 90%;
        padding: 5%;
        position: relative;
        z-index: 999;
    }

    header .logo img {
        width: 50%;
        height: auto;
    }

    .menu-nav {
        justify-content: center;
    }
    
    .menu {
        display: block;

    }

    .menu li {
        margin: 10px 0px;
    }

    .menu-icon {
        display: block;
        width: 10%;
        color: #455000;
        font-size: 20px;
        padding: 8px 10px 8px 10px;
        text-align: right;
    }

    .container-user {
        width: 100%;
        text-align: center;
        justify-content: center;

    }

    .hero {
        padding-top: 30%;
        width: 100%;
        height: 500px;
        background-position: left center;
    }

    .hero h1 {
        font-size: 190%;
        margin-top: 3%;
    }

    .hero h2 {
        font-size: 16px;
    }

    .hero-buttons button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 60%;
        width: 100%;
        height: 30%;
        margin: 5%;
        margin-top: 20px;

    }

    .home-section-1 {
        width: 100%;
        justify-content: center;
    }

    .home-section-1 h1,
    .home-section-2 h1 {
        font-size: 20px;
        text-align: center;
    }

    .home-cards-section-1 {
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }

    .container-card {
        width: 90%;
        justify-content: center;
        height: auto;
        margin-bottom: 5%;
    }

    .content-card h3 {
        font-size: 100%;

    }

    .content-card p,
    .container-content-gift p,
    .container-content-gift li {
        font-size: 12px;
        margin-bottom: 5%;
    }

    
    .container-content-gift p {
        text-align: center;
    }
    

    .container-gift {
        display: block;
        justify-content: center;
    }

    .container-gift img {
        width: 100%;
        padding: 0px;
    }

    .container-content-gift {
        text-align: center;
    }

    .quiz-gift-button {
        width: 70%;
        height: 40%;
        font-size: 80%;
    }


    .footer {
        width: 100%;
        display: block;
        flex-wrap: wrap;
        padding: 1% 0% 1% 0%;
    }

    footer .logo {
        width: 100%;
    }

    footer .logo img{
        width: 40%;
        height: auto;
    }

    footer .info {
        width: 100%;
    }

    .info {
        width: 100%;
        justify-content: center;
        align-items: center;

    }

    .info h4 {
        width: 100%;
        text-align: center;
        font-size: 12px;
    }

    .social-media {
        width: 100%;
    }

    .social-media i{
    font-size: 20px;
}



}
    
